/target
Cargo.lock
.idea
.idea/
.DS_Store
db
db/
# benchmark tests 
*/target/
*/*/target/
*/*/*/target/
*/*/*/*/target/
*/*/*/*/*/target/
*/*/*/*/*/*/target/
*/*/*/*/*/*/*/target/
*/*/*/*/*/*/*/*/target/
*/*/*/*/*/*/*/*/*/target/
*/*/*/*/*/*/*/*/*/*/target/